# dependencies
/node_modules

# misc
.DS_Store
.env*
!.env
!.env.development.template
.cache

# gatsby files
.cache/
public

# Yarn
yarn-error.log
.pnp/
.pnp.js

# Yarn Integrity file
.yarn-integrity

# Local Netlify folder
.netlify

# Functions transpiled by Netlifa-Lambda
functions/*.js
